<%# partials/posts-list.ejs %>
<%# Assumes 'user', 'currentUser', 'isSubscribed', 'posts', 'mediaPosts' are passed %>

<div class="posts-section">
    <%# Tab Navigation %>
    <div class="posts-tabs">
        <div class="tab-links">
            <button class="tab-link active" data-tab="posts-tab"><%= posts.length %> POSTS</button>
            <button class="tab-link" data-tab="media-tab"><%= mediaPosts.length || 0 %> MEDIA</button>
        </div>
    </div>

    <%# Posts Tab Content %>
    <div id="posts-tab" class="tab-content active">
        <%# Creator's View %>
        <% if (currentUser && currentUser._id.toString() === user._id.toString()) { %>
            <% if (posts && posts.length > 0) { %>
                <div class="posts-list">
                    <% posts.forEach(post => { %>
                        <%- include('post-card', { post: post, user: user, currentUser: currentUser, isSubscribed: isSubscribed, viewType: 'creator' }) %>
                    <% }); %>
                </div>
            <% } else { %>
                <p class="no-posts-message">You have not uploaded any posts yet.</p>
            <% } %>
        
        <%# Visitor's View %>
        <% } else { %>
            <% if (isSubscribed) { %>
                <%# Visitor is Subscribed - Show posts (handle locked content inside partial) %>
                <% if (posts && posts.length > 0) { %>
                    <div class="posts-list">
                        <% posts.forEach(post => { %>
                            <%- include('post-card', { post: post, user: user, currentUser: currentUser, isSubscribed: isSubscribed, viewType: 'subscriber' }) %>
                        <% }); %>
                    </div>
                <% } else { %>
                    <p class="no-posts-message">This creator hasn't posted anything yet.</p>
                <% } %>
            <% } else { %>
                <%# Visitor is NOT Subscribed %>
                <p class="subscribe-prompt">Subscribe to see posts from <%= user.username %>.</p>
            <% } %>
        <% } %>
    </div>

    <%# Media Tab Content %>
    <div id="media-tab" class="tab-content">
        <%# Media Sub-Tabs %>
        <div class="media-filter-tabs">
            <button class="media-tab-link active" data-media-tab="all">All</button>
            <button class="media-tab-link" data-media-tab="pics">Pics</button>
            <button class="media-tab-link" data-media-tab="video">Video</button>
            <button class="display-toggle-btn" id="toggleDisplayMode">
                <i class="fa fa-th-list"></i>
            </button>
        </div>

        <%# Media Content %>
        <div class="media-content">
            <%# All Media %>
            <div id="all-media" class="media-tab-content active grid-view">
                <% if (mediaPosts && mediaPosts.length > 0) { %>
                    <% mediaPosts.forEach(post => { %>
                        <div class="media-item" data-type="<%= post.type %>">
                            <a href="/posts/<%= post._id %>" class="media-thumbnail">
                                <% if (post.type === 'image') { %>
                                    <img src="<%= isSubscribed || (currentUser && currentUser._id.toString() === user._id.toString()) 
                                        ? post.contentUrl 
                                        : 'https://placehold.co/400x300/cccccc/333333?text=Subscribe+to+View' %>" 
                                        alt="Post Image" class="media-img">
                                <% } else if (post.type === 'video') { %>
                                    <div class="video-thumbnail">
                                        <img src="<%= isSubscribed || (currentUser && currentUser._id.toString() === user._id.toString()) 
                                            ? post.thumbnailUrl || 'https://placehold.co/400x300/cccccc/333333?text=Video' 
                                            : 'https://placehold.co/400x300/cccccc/333333?text=Subscribe+to+View' %>" 
                                            alt="Video Thumbnail" class="media-img">
                                        <div class="play-icon">▶</div>
                                    </div>
                                <% } %>
                                <% if (post.special && !(isSubscribed || (currentUser && currentUser._id.toString() === user._id.toString()))) { %>
                                    <div class="lock-icon">🔒</div>
                                <% } %>
                            </a>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p class="no-media-message">No media content available.</p>
                <% } %>
            </div>

            <%# Pics Only %>
            <div id="pics-media" class="media-tab-content grid-view">
                <% if (mediaPosts && mediaPosts.filter(post => post.type === 'image').length > 0) { %>
                    <% mediaPosts.filter(post => post.type === 'image').forEach(post => { %>
                        <div class="media-item">
                            <a href="/posts/<%= post._id %>" class="media-thumbnail">
                                <img src="<%= isSubscribed || (currentUser && currentUser._id.toString() === user._id.toString()) 
                                    ? post.contentUrl 
                                    : 'https://placehold.co/400x300/cccccc/333333?text=Subscribe+to+View' %>" 
                                    alt="Post Image" class="media-img">
                                <% if (post.special && !(isSubscribed || (currentUser && currentUser._id.toString() === user._id.toString()))) { %>
                                    <div class="lock-icon">🔒</div>
                                <% } %>
                            </a>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p class="no-media-message">No image content available.</p>
                <% } %>
            </div>

            <%# Videos Only %>
            <div id="video-media" class="media-tab-content grid-view">
                <% if (mediaPosts && mediaPosts.filter(post => post.type === 'video').length > 0) { %>
                    <% mediaPosts.filter(post => post.type === 'video').forEach(post => { %>
                        <div class="media-item">
                            <a href="/posts/<%= post._id %>" class="media-thumbnail">
                                <div class="video-thumbnail">
                                    <img src="<%= isSubscribed || (currentUser && currentUser._id.toString() === user._id.toString()) 
                                        ? post.thumbnailUrl || 'https://placehold.co/400x300/cccccc/333333?text=Video' 
                                        : 'https://placehold.co/400x300/cccccc/333333?text=Subscribe+to+View' %>" 
                                        alt="Video Thumbnail" class="media-img">
                                    <div class="play-icon">▶</div>
                                </div>
                                <% if (post.special && !(isSubscribed || (currentUser && currentUser._id.toString() === user._id.toString()))) { %>
                                    <div class="lock-icon">🔒</div>
                                <% } %>
                            </a>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p class="no-media-message">No video content available.</p>
                <% } %>
            </div>
        </div>
    </div>
</div>