<!-- views/signup.ejs -->
 <!-- Logo Header -->
 <header class="logo-header">
  <a href="/home" class="logo-link">
    <img src="https://storage.googleapis.com/my-public-profile-pictures/logos/elitefans-logo.PNG" alt="EliteFans Logo" class="site-logo">
    <span class="logo-text">EliteFans</span>
  </a>
</header>
<h1>Sign up to support your favorite creators</h1>

<% if (errorMessage) { %>
    <div class="error-message">
        <%= errorMessage %>
    </div>
<% } %>
<form
  action="/signup
    <%= creator  ? `?creator=${encodeURIComponent(creator)}` : '' %>
    <%= ref      ? `${creator ? '&' : '?'}ref=${encodeURIComponent(ref)}` : '' %>"
  method="POST"
  class="signup-form"
>
  <% if (creator) { %>
    <input type="hidden" name="creator" value="<%= creator %>">
  <% } %>

  <% if (ref) { %>
    <input type="hidden" name="ref" value="<%= ref %>">
  <% } %>

  <h2>Create Your Account</h2>
  <input type="text" name="username" placeholder="Username" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>

  <button type="submit" class="button-signup">Sign Up</button>
</form>
